.sensor-label {
  font-family: System-Regular;
  fill: white;
  text-anchor: middle;
  text-length: 32;
  font-size: 20;
  x: 50%;
  y: $;
}

.sensor-data {
  font-family: System-Light;
  fill: yellow;
  text-anchor: middle;
  text-length: 64;
  font-size: 20;
  x: 50%;
  y: $-5;
}
.clock-label {
  font-family: System-Light;
  fill: fb-aqua;
  text-anchor: middle;
  text-length: 32;
  font-size: 20;
  x: 50%;
  y: 15;
}
.clock-data {
  font-family: System-Regular;
  fill: fb-aqua;
  text-anchor: middle;
  text-length: 64;
  font-size: 80;
  x: 50%;
  y: $+40;
}
#fbid-label 
{   
  y: 105;
}